<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget_Tracker</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <header>
        <h1>Welcome to Finest Finace</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{elsee}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>

    <main>
        <aside>
            <h2>Enter your expenses:</h2>
        </aside>
        <div class="monthly-budget">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="public\js\logout.js"></script>
    {{/if}}
</body>
</html>